<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-sm-12 text-center" *ngIf="hasCartItem">
            <h3>Your Have ({{cartList.length}} Items) In The Cart </h3>
        </div>
        <div class="col-sm-12 text-center" *ngIf="!hasCartItem">
            <div class="display-1">You Have Not Added Any Item!</div>
        </div>
    </div>
    <!-- <div class="container-fluid" *ngIf="cartList">

    <div class="row responsive" >
        <div class="p-4">
        <table class="table table-responsive table-hover table-bordered">
            <thead class="text-center">
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of cartList" class="col-sm-12">
                <td class="p-3 w-25"> <img [src]="item.image" class="me-2"  width="30" height="30" alt="Image"> <span class="text-truncate">{{item.title}}</span> </td>
                <td class="p-3">${{item.price}}</td>
                <td class="p-3">{{item.quantity}}</td>
                <td class="p-3">${{item.quantity*item.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="row total-section">
        <div class="col-sm-4 p-3 m-3 border">
            <div class="sub-total d-flex justify-content-between">
                <p class="h6">Subtotal:</p>
                <p class="h6">$320</p>
            </div>
            <hr>
            <div class="total d-flex justify-content-between">
                <p class="h6">Grand-Total:</p>
                <p class="h6">$560</p>
            </div>
        </div>
    </div>
</div> -->
<section  *ngIf="hasCartItem" style="background-color: whitesmoke;">
    <div class="container-fluid py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{cartList.length}} items</h6>
                    </div>
                    <ng-container *ngFor="let item of cartList">

                    <hr class="my-4" >
  
                    <div class="row mb-4 d-flex justify-content-between align-items-baseline">
                      <div class="col-md-2 col-lg-2 col-xl-2 text-center">
                        <img
                          [src]="item.image"
                          class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3 text-center">
                        <h6 class="text-muted text-uppercase my-4">{{item.category}}</h6>
                        <h6 class="text-black mb-4">{{item.title}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex align-items-baseline">
                        <button class="btn minus-item px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                       <strong>-</strong>
                        </button>
  
                        <input id="form1" min="0" name="quantity" [value]="item.quantity" type="number"
                          class="form-control mb-4 text-center form-control-sm" disabled />
  
                        <button class="btn plus-item px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <strong>+</strong>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 mb-3 text-center">
                        <h6 class="mb-0">${{item.price}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-center">
                        <a href="javascript:void(0);" class="text-muted" (click)="deleteItem(item.id)"><img class="delete-img" src="../../../assets/delete.svg"></a>
                      </div>
                    </div>
                  </ng-container>
  
                    <hr class="my-4">
  
                    <div class="pt-5">
                      <h6 class="mb-0"><a routerLink="/" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">items 3</h5>
                      <h5>€ 132.00</h5>
                    </div>
  
                    <h5 class="text-uppercase mb-3">Shipping</h5>
  
                    <div class="mb-4 pb-2">
                      <select class="select">
                        <option value="1">Standard-Delivery- €5.00</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select>
                    </div>
  
                    <h5 class="text-uppercase mb-3">Give code</h5>
  
                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                      </div>
                    </div>
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>€ 137.00</h5>
                    </div>
  
                    <button type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark">Register</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>"