.nav-container{
    background-color: #212121;
}

.logo{
    cursor: pointer;
}

.card:hover{
    box-shadow: 0px 8px 15px;
    transition: 0.1s ease-out;
}

.item-container {
    max-height: 70px ;
    
}

.item-container ul span{
    transition: all 0.5s ease;


}  
.item-container ul span:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.input-group{
    width:37%;
}
nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 10px;
    flex-wrap: wrap;
}

@media (max-width:768px) {
        .input-group{
            width: 100%;
        }
        .cat-items{
            font-size: 14px;
        }
}